* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header{
  background-color: #EC715F;
  width: 100%;
  height: 70px;
}
.fas{
  display: none;
}
.bar{
  width: 1024px;
  height: 70px;
  margin: 0 auto;
}
.logo{
  float: left;
  height: 70px;
}
.nav-list{
float: right;
}
.nav-list-item{
  padding: 0 30px;
  color: white;
  list-style: none;
  float: left;
  font-size: 16px;
  line-height: 70px;
}
a{
  text-decoration: none;
  color: white;
}

.mainbox{
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}
.main-visual{
  width: 100%;
  height: 650px;
}
.headline{
  text-align: center;
  padding-top: 200px;
  color: #FAFAFA;
  font-size: 64px;
}
.headline2{
  color: #FAFAFA;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.Portfolio{
  background-color: #ECEFF1;
}
.Portfolio-content{
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.Portfolio-title{
  font-size: 32px;
  color: black;
  padding-top: 90px;
  text-align: center;
}
.Portfolio-title::after{
  display:block;
  content: "";
  height: 3px;
  width: 70px;
  margin: 8px auto 0;
  background-color: #EC715F;
}
.Portfolio-text{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
  color: black;
}
.Portfolio-img{
  width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;
  box-sizing: border-box;
}
.img1{
  background-image: url(img/sketch.jpg);
  float: left;
  width: 300px;
  height: 250px;
  margin: 0;
  background-size: cover;
  background-position: center;
}
.img2{
  background-image: url(img/websuku.png);
  float: left;
  width: 300px;
  height: 250px;
  margin: 0;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
}
.img3{
  background-image: url(img/write.jpg);
  float: left;
  width: 300px;
  height: 250px;
  margin: 0;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
}
.img4{
  background-image: url(img/webcamp.png);
  float: left;
  width: 300px;
  height: 250px;
  margin: 0;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}
.img5{
  background-image: url(img/talk.jpg);
  float: left;
  width: 300px;
  height: 250px;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
}
.img6{
  background-image: url(img/webcamp-mother.png);
  float: left;
  width: 300px;
  height: 250px;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
}

.feature-content{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.feature-title{
  font-size: 32px;
  color: black;
  padding-top: 90px;
  text-align: center;
}
.feature-title::after{
  display:block;
  content: "";
  height: 3px;
  width: 70px;
  margin: 8px auto 0;
  background-color: #EC715F;
}
.feature-text{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
  color: black;
}
.feature-box{
  width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
  box-sizing: border-box;
}
.strength{
  float: left;
  font-size: 60px;
  text-align: center;
  width: 320px;
  height: auto;
  margin-right: 10px;
}
.strength:last-child{
  margin-right: 0;
}
.strength1-img{
  background-image: url(img/);
}
.strength-title{
  font-size: 20px;
  color: black;
  margin: 10px auto;
}
.strength-text{
  font-size: 16px;
  color: black;
}

.profile{
  background-color: #ECEFF1;
}
.profile-content{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.profile-title{
  font-size: 32px;
  color: black;
  padding-top: 90px;
  text-align: center;
}
.profile-title::after{
  display:block;
  content: "";
  height: 3px;
  width: 70px;
  margin: 8px auto 0;
  background-color: #EC715F;
}
.profile-text{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
  color: black;
}
.profile-box{
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 90px;
  box-sizing: border-box;
}
.profile-left{
  width: 512px;
  float: left;
}
.left-img{
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin:auto;
}
.{
  font-size: 20px;
  margin-bottom: 5px;
}

.contact-content{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.contact-title{
  font-size: 32px;
  color: black;
  padding-top: 90px;
  text-align: center;
}
.contact-title::after{
  display:block;
  content: "";
  height: 3px;
  width: 70px;
  margin: 8px auto 0;
  background-color: #EC715F;
}
.contact-text{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
  color: black;
}
.contact-box{
  width: 800px;
  margin: 0 auto;
  padding-bottom: 90px;
  box-sizing: border-box;
}
.contact-left{
  width: 400px;
  float: left;
}
.contact-content-left{
  margin: 0 auto;
  width: 150px;
}
.contact-right{
  width: 400px;
  float: right;
}
.contact-content-right{
  margin: 0 auto;
  width: 200px;
}
.sns{
  width: 200px;
  margin-left: auto;
  margin-right:auto;
}
.fab{
  margin-right: 20px;
  font-size: 50px;
}
.fab:last-child{
  margin-right: 0;
}

footer{
  width: 100%;
  background-color: #EC715F;
  line-height: 60px;
}
.footer-text{
  text-align: center;
  color: white;
  font-size: 16px;
}

@media screen and (max-width:768px){
header{
  width: 100%;
  height: 50px;
}
.bar{
  width: 100%;
  height: 50px;
}
.logo{
  height: 50px;
}
.menu{
  float: right;
  width: 40px;
  height: 40px;
  margin-right: 5%;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid white;
}
.list-bar{
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  background-color: white;
}
.list-bar:first-child{
  margin-top: 10px;
}
.nav-list{
  display: none;
  float: none;
  width: 100%;
}
.nav-list-item{
  float: none;
}

.mainbox{
  background-image: url(img/code.png);
}
.main-visual{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.headline{
  font-size: 40px;
  padding-top: 250px;
}
.headline2{
  font-size: 18px;
}

.Portfolio{

}
.Portfolio-content{
  width: 90%;
}
.Portfolio-img{
  width: 90%;
}
.img1{
  float: none;
  display: none;
}
.img3{
  float: none;
  display: none;
}
.img5{
  float: none;
  display: none;
}
.img2{
  float: none;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 10px;
}
.img4{
  float: none;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 10px;
}
.img6{
  float: none;
  margin-left: auto;
  margin-right:auto;
}

.feature-content{
  width: 90%;
}
.feature-box{
  width: 90%;
}
.strength{
  float: none;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 10px;
}
.strength:last-child{
  margin-right: auto;
  margin-bottom: 0;
}

.profile-content{
  width: 90%;
}
.profile-box{
  width: 90%;
}
.profile-left{
  float: none;
  width: 90%;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.profile-myname{
  width: 90%;
  padding: 0 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.profile-myskills{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.contact-content{
  width: 90%;
}
.contact-box{
  width: 90%;
}
.contact-left{
  float: none;
  width: 90%;
  text-align: center;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.contact-right{
  float: none;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.sns{
  margin-left: auto;
  margin-right: auto;
}

footer{

}
}
