* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header{
  background-color: #EC715F;
  width: 100%;
  height: 70px;
}
.bar{
  width: 1024px;
  height: 70px;
  margin: 0 auto;
}
.logo{
  float: left;
  height: 70px;
}
.nav-list{
float: right;
}
.nav-list-item{
  padding: 0 30px;
  color: white;
  list-style: none;
  float: left;
  font-size: 16px;
  line-height: 70px;
}
a{
  text-decoration: none;
  color: white;
}

.main-visual{
  background-image: url(img/mv.png);
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
}
.headline{
  text-align: center;
  padding-top: 200px;
  color: #FAFAFA;
  font-size: 64px;
}
.headline2{
  color: #FAFAFA;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.Portfolio{
  background-color: red;
}
.Portfolio-content{
  background-color: gray;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.Portfolio-title{
  font-size: 32px;
  color: black;
  padding-top: 90px;
  text-align: center;
}
.Portfolio-title::after{
  background-color: #EC715F;
  display:block;
  content: "";
  height: 3px;
  width: 70px;
  margin: 8px auto 0;
}
.Portfolio-text{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
  color: black;
}
.Portfolio-img{
  width: 920px;
  margin: 0 auto;
  padding: 30px 0 90px 0;
  background-color: blue;
}
.img1{
  background-image: url(../);
  float: left;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
