* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual{
  background-image: url(img/mv.jpg);
  width: 100%;
  height: 400px;
  background-position:bottom;
  background-size: cover;
  ]
}
.headline{
  padding: 20px;
}
main{
  width: 840px;
  margin:50px auto;
}

.service1{
  border-bottom: 1px solid silver;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.service2{
  border-bottom: 1px solid silver;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.service3{
  border-bottom: 1px solid silver;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.service4{
  border-bottom: 1px solid silver;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
